{{input value=taskTitle}}
<button {{action 'createTask'}}>Add</button>
<button {{action 'sync'}}>Sync</button>

{{#each tasks as |task|}}
  <p>{{task.title}} <a href {{action 'deleteTask' task}}>delete</a></p>
{{/each}}
