{{#if isEditing}}
  <p>
    {{input value=item.name enter="finishEdit"}}
    <small><a href {{action 'finishEdit'}}>done</a></small>
  </p>
{{else}}
  <p>
    {{#link-to "lists.detail" item.id class="nav-item"}}
      <strong>{{item.name}} ({{item.numberOfDoneTasks}}/{{item.tasks.length}})</strong>
      <br/>
      <small>
        <a href {{action 'startEdit'}}>e</a> | <a href {{action attrs.onItemDelete item}}>x</a>
      </small>
    {{/link-to}}
  </p>
{{/if}}

